.btn-my-primary {
  background-color: #034652;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-primary:hover {
  background-color: #011c21;
  color: white;
}

.btn-my-primary:disabled,
.btn-my-primary.disabled {
  background-color: #06859c;
  color: white;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-my-outline-primary {
  color: #034652;
  border: 1px solid #034652;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-outline-primary:hover {
  background-color: #034652;
  color: white;
}

.bg-my-primary {
  background-color: #034652 !important;
}

.text-my-primary {
  color: #034652 !important;
}

.btn-my-secondary {
  background-color: #D44100;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-secondary:hover {
  background-color: #a13100;
  color: white;
}

.btn-my-secondary:disabled,
.btn-my-secondary.disabled {
  background-color: #ff6522;
  color: white;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-my-outline-secondary {
  color: #D44100;
  border: 1px solid #D44100;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-outline-secondary:hover {
  background-color: #D44100;
  color: white;
}

.bg-my-secondary {
  background-color: #D44100 !important;
}

.text-my-secondary {
  color: #D44100 !important;
}

.btn-my-shadow {
  background-color: #F5F5F5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-shadow:hover {
  background-color: gainsboro;
  color: white;
}

.btn-my-shadow:disabled,
.btn-my-shadow.disabled {
  background-color: white;
  color: white;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-my-outline-shadow {
  color: #F5F5F5;
  border: 1px solid #F5F5F5;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-outline-shadow:hover {
  background-color: #F5F5F5;
  color: white;
}

.bg-my-shadow {
  background-color: #F5F5F5 !important;
}

.text-my-shadow {
  color: #F5F5F5 !important;
}

.btn-my-success {
  background-color: #4BC76C;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-success:hover {
  background-color: #35aa54;
  color: white;
}

.btn-my-success:disabled,
.btn-my-success.disabled {
  background-color: #85d99c;
  color: white;
  cursor: not-allowed;
  opacity: 0.65;
}

.btn-my-outline-success {
  color: #4BC76C;
  border: 1px solid #4BC76C;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-outline-success:hover {
  background-color: #4BC76C;
  color: white;
}

.bg-my-success {
  background-color: #4BC76C !important;
}

.text-my-success {
  color: #4BC76C !important;
}

/* Botão 'ver mais' das áreas */
.btn-ver-mais-areas {
  border: 1px solid #114048ff;
  color: #114048ff;
  border-radius: 999px;
  background: transparent;
  padding: 8px 36px;
  min-width: 140px;
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.2s, color 0.2s, border 0.2s;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
.btn-ver-mais-areas:hover, .btn-ver-mais-areas:focus {
  background: #114048ff;
  color: #fff;
  border: 1px solid #114048ff;
  text-decoration: none;
}
