.btn-my-primary {
  background-color: #034652;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-primary:hover {
  background-color: #011c21;
}

.bg-my-primary {
  background-color: #034652 !important;
}

.text-my-primary {
  color: #034652 !important;
}

.btn-my-secondary {
  background-color: #D44100;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-secondary:hover {
  background-color: #a13100;
}

.bg-my-secondary {
  background-color: #D44100 !important;
}

.text-my-secondary {
  color: #D44100 !important;
}

.btn-my-shadow {
  background-color: #F5F5F5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-my-shadow:hover {
  background-color: gainsboro;
}

.bg-my-shadow {
  background-color: #F5F5F5 !important;
}

.text-my-shadow {
  color: #F5F5F5 !important;
}

