/* 
color primary: #114048ff
color secondary: #196572ff
color dark: #071b1eff

*/

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.navbar{
    background-color: #114048ff;
    color: white;
}

.btn-primary{
    background-color: #114048ff;
    border-color: #114048ff;
}
.btn-primary:hover{
    background-color: #196572ff;
    border-color: #196572ff;
}
.card-login-cadastro{
    margin-top: 7vh;
}
.titulo-login-cadastro{
    border-bottom: 2px solid #eee;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 7px;
}