/*
color primary: #114048ff
color secondary: #196572ff
color dark: #071b1eff

*/
body {
    overflow-x: hidden;
}

.content{
    margin-top: 50px;
}
.icon-card{
    width:15px;
    margin-right: 15px;
}
.emailCoautor{
  margin-bottom:10px;
}

/* table tr{
  text-align:center;
} */
#options{
    /* padding: 5px;     */
    text-align: center;
    height: 22px;
    width: 10px;
    /* background-color: blue; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    transition: 0.2s;
}
#options::after{
    display:none;
}
#options:hover{
    transition: 0.2s;
}
.dropdown-options{
    float:right;
    margin-right:-5px;
}
.dropdown-item:hover{
    background-color: #ccc;
}
.visualizarEvento{
    color:#196572ff;
}
.visualizarEvento:hover{
    color:#196572ff;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    background-color: #114048ff;
    color: white;
}
.navbar img{
    width:20px;
    margin-right: 10px;
}
.btn-primary{
    background-color: #114048ff;
    border-color: #114048ff;
}
.btn-primary:hover{
    background-color: #196572ff;
    border-color: #196572ff;
}

.rounded{
    border-radius: 50%;
}
.card-login-cadastro{
    margin-top: 7vh;
}
.titulo-login-cadastro{
    border-bottom: 2px solid #eee;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 7px;
}

.card{
    margin: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titulo{
    margin:2% 0 2% 0;
    /* border-bottom: 2px solid #ccc; */
    font-size: 30px;
    font-weight: bolder;
}

.subtitulo{
    font-size: 20px;
    font-weight: bolder;
}

.botao-form{
    width:100%;
    padding: 20px 0 20px 0;
}
.botao-form-left{
  padding-left:0;
}
.botao-form-right{
  padding-right:0;
}

/* SIDEBAR */
.navbar{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 100;

}

.wrapper{
    display: flex;
    position: relative;
    top: 0;
    /* z-index: -10; */
}
.wrapper .sidebar{
    padding: 30px 0;
    position: fixed;
    width: 270px;
    height: 100%;
    background-color: #071b1eff;
    color: #fff;
    transition: 0.2s;
    overflow-y:scroll;
}
.wrapper .sidebar h2{
    font-size: 20px;
    color: #fff;
    margin-top: 50px;
    padding: 0 15px 20px 15px;
    border-bottom: 2px solid #114048ff;
    /* text-align: center; */
    /* margin-bottom: 10px; */
    transition: 0.2s;
}
.wrapper .sidebar ul{
    padding: 0;
}
.wrapper .sidebar ul li{
    list-style: none;
    padding: 15px;

}

.wrapper .sidebar ul a li {
    color: #fff;
    display: block;
    text-decoration: none;
}
.wrapper .sidebar ul li:hover{
    cursor:pointer;
    background-color: #114048ff;
    transition: 0.2s;
}
.wrapper .sidebar ul a li  img{
    width: 17px;
    margin-right: 15px;
    transition: 0.2s;
}
.wrapper .sidebar ul a li h5{
    /* float: right; */
    font-size: 14px;
    display: inline;
    transition: 0.2s;
}

#dropdownAreas{
    display: none;
}
#dropdownAreas h5{
    font-size: 11px;
}

#dropdownRevisores{
    display: none;
}
#dropdownRevisores h5{
    font-size: 11px;
}
#dropdownComissao{
    display: none;
}
#dropdownComissao h5{
    font-size: 11px;
}
#dropdownComissaoOrganizadora{
    display: none;
}
#dropdownComissaoOrganizadora h5{
    font-size: 11px;
}
#dropdownModalidades{
    display: none;
}
#dropdownModalidades h5{
    font-size: 11px;
}
#dropdownProgramacao {
    display: none;
}
#dropdownProgramacao h5{
    font-size: 11px;
}
#dropdownTrabalhos{
    display: none;
}
#dropdownTrabalhos h5{
    font-size: 11px;
}
#dropdownPublicar{
    display: none;
}
#dropdownPublicar h5{
    font-size: 11px;
}

#dropdownEvento{
    display: none;
}
#dropdownEvento h5{
    font-size: 11px;
}

#dropdownProgramacao{
    display: none;
}
#dropdownProgramacao h5{
    font-size: 11px;
}

.arrow{
    float:right;
    margin-top: -5px;
    height: 20px;
}

/* Detalhes do Evento */
.main_content{

    /* height: 100vh; */
    width: 100% - 270px;
    margin-top: 50px;
    margin-left: 270px;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.19); */
}
.titulo-detalhes{

    border-bottom: 2px solid #ccc;
}
.subtitulo-detalhes{
    font-size: 25px;
}
.card-footer button{
    float: right;
}

.card-header{
    background-color:#114048ff;
    color: white;
}

/* EVENTO */
.banner-evento{
    min-width: 100%;
    min-height: 425px;
    background-color:#071b1eff;
}
.banner-evento img{
    width: 100%;
    min-height: 425px;
    max-height: 425px;
}
.front-image-evento{
    margin-top: 25px;
    margin-left: 25px;
    height: 400px;
    z-index: 15;
    /* position: relative; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    top: 0;
    float:left;
    border-radius: 10px;

    /* width: 500px; */

}
.margin{
    margin-bottom:20px;
}
.info-evento img{
    width: 20px;
}
.info-evento p{
    font-size: 15px;
}
.info-evento {
    text-align: left;
}

.info-evento .button-card-visualizar-evento {
    text-align: center;
    width: 100%;
    background-color: rgb(0, 132, 255);
}

.info-evento .button-card-visualizar-evento:hover {
    background-color: rgb(1, 195, 195);
    box-shadow: 1px 3px 3px rgb(85, 85, 85);
}

.info-evento .titulo-modalidade {
    color: rgb(0, 132, 255);
}


/* Visualização dos conteúdos dos detalhes do evento */
#divInformacoes{display: block;}
/* #divTrabalhos{display: none;} */
#divRevisores{display: none;}
#divComissao{display: none;}
#divModalidades{display: none;}
#divClassificacao{display: none;}
#divAtividades{display: none;}
#divCadastrarAreas{display: none;}
#divListarAreas{display: none;}
#divCadastrarComissao{display: none;}
#divDefinirCoordComissao{display: none;}
#divListarComissao{display: none;}
#divCadastrarModalidades{display: none;}
#divListarModalidades{display: none;}
#divListarTrabalhos{display: none;}
#divDefinirSubmissoes{display: none;}
#divCadastrarComissaoOrganizadora{display: none;}
#divDefinirCoordComissaoOrganizadora{display: none;}
#divListarComissaoOrganizadora{display: none;}
@media screen and (max-width: 576px){
    .wrapper .sidebar{
        margin-top: 30px;
    }
    .wrapper .sidebar h2{
        display: none;
        transition: 0.2s;
    }
    .wrapper .sidebar ul a li h5{
        display: none;
        transition: 0.2s;
    }
    .wrapper .sidebar ul a li  img{
        width: 20px;
        transition: 0.2s;
    }
    .wrapper .sidebar{
        width: 60px;
        align-items: center;
        transition: 0.2s;
    }
    .main_content{
        margin-left: 130px;
    }
    .front-image-evento{
        margin: 35px 20px 35px 20px;
        width: 90%;
    }
    .botao-form-left{
      padding:0;
      margin-bottom: 20px;
    }
    .botao-form-right{
      padding:0;
    }
}

.modal-show-atividade h4 {
    font-weight: bolder;
}

.modal-show-atividade p {
    font-weight: normal;
    font-size: 20px;
}

.modal-show-atividade .imagemConvidado {
    text-align: center;
    align-content: center;
}

.convidadoFuncao {
    position: relative;
    bottom: 15px;
}

.modal-show-atividade img {
    padding: 0px;
    margin-top: 20px;
}

.resultado_card h5 {
    font-weight: bolder;
}

.resultado_card label {
    font-weight: bolder;
}

.resultado_card #resumo {
    text-align: justify;
}

.divError {
    border: #114048ff solid 25px;
    border-radius: 20px 80px;
    padding: 50px;
}

.conteudoCentralizado {
    text-align: center; 
    position: relative; 
    top: 150px;
    background-color: white;
}

.links a {
    color: rgb(83, 83, 83);
    font-size: 20px;
    font-weight: bolder;
}

.links a:hover {
    color:#114048ff;
    text-decoration: none;
}

.font-25 {
    font-size: 25px;
}

.aba {
    border-top: solid #114048ff 1px;
    border-left: solid #114048ff 1px;
    border-right: solid #114048ff 1px;
    border-radius: 7px 7px 0px 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 7px;
}

.aba-tab {
    color: #114048ff;
}

.aba-tab:hover {
    text-decoration: none;
    background-color: rgb(25, 92, 104);
    color: white;
}

.aba-tab:hover a {
    color: white;
}

.ativado {
    text-decoration: none;
    background-color: rgb(25, 92, 104);
    color: white;
}

.aba-tab a {
    color: rgb(25, 92, 104);
    text-decoration: none;
}

.aba-tab a:hover {
    color:white;
}

.ativado {
    background-color: rgb(25, 92, 104);
    color: white;
}

.ativado a {
    text-decoration: none;
    color: white;
}

.largura-maxima {
    width: 100%;
}

.button-a {
    position: relative;
    text-decoration: none;
    top: 10px;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 10px;
    -webkit-transition:background 0.3s ease-out;
    -moz-transition:background 0.3s ease-out;
    -o-transition:background 0.3s ease-out;
    -ms-transition:background 0.3s ease-out;
}

.button-a:hover {
    color: white;
    filter:alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
    border-radius: 10px;
}

.btn-excluir {
    border-color: red;
    color: red;
}

.btn-excluir:hover {
    background-color: red;
}

.btn-editar {
    border-color: #114048ff;
    color: #114048ff;
}

.btn-editar:hover {
    background-color: #114048ff;
}

.navbar-center {
    position: relative;
    left: 50%;
}

.tam-letra {
    font-size: 27px;
    font-weight: bolder;
}

.nav-link {
    border-radius: 10px;
}

.nav-link:hover, .nav-link:focus {
    background-image: linear-gradient( to right, red, rgb(230, 46, 0), rgb(255, 153, 0) ); 
    border-radius: 10px;
    filter: alpha(opacity=100);
    -moz-opacity:1;
    opacity:1;
    transition: 0.3s;
    box-shadow: 5px 5px 5px black;
}

.card-visualizar-evento {
    position: relative;
    margin-left: 15%;
    text-align: center;
}

.card-visualizar-evento .card {
    position: relative;
    top: -200px;
    border-radius: 15px;
}

.card-visualizar-evento .card p {
    text-align: justify;
    color: black;
}

.card-visualizar-evento .card .white-color {
    color: white;
    font-weight: bolder;
    box-shadow: 1px 3px 3px rgb(151, 151, 151);
}

.card-visualizar-evento .card .data {
    position: relative;
    left: -35px;
}

.card-visualizar-evento .card .clock {
    position: relative;
    left: -130px;
}

.card-visualizar-evento .card hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

.card-perfil {
    margin-bottom: -400px;
}

.card-perfil .card {
    position: relative; 
    top: -500px; 
    margin-left: 135px;
    margin-right: 135px;
    border-radius: 15px;
}

.banner-perfil .curved {
    height: 350px;
}

.btn-atualizar-perfil {
    background-color: rgb(2, 168, 2);
    color: white;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 1px 3px 3px rgb(128, 128, 128);
}

.btn-atualizar-perfil:hover {
    background-color: rgb(0, 207, 0);
    color: white;
    box-shadow: 1px 3px 3px rgb(82, 82, 82);
}

.imagem-loader img {
    cursor: pointer;
    min-height: 195px;
    min-width: 395px;
    height: 195px;
    width: 395px;
    max-height: 195px;
    max-width: 395px;
    border-radius: 5px;
    border: 1px solid rgba(92, 92, 92, 0.596);
    box-shadow: 1px 5px 5px rgba(128, 128, 128, 0.596);
}

.imagem-loader img:hover {
    transition: 0.2s;
    box-shadow: 1px 5px 5px rgba(63, 63, 63, 0.596);
}

.invalid-feedback {
    display: inline;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.btn-buscar-evento {
    width: 150px;
    font-weight: bolder;
    background-image: linear-gradient( to right, red, rgb(230, 46, 0), rgb(255, 153, 0) ); 
    border-radius: 10px;
    color: white;
}

.btn-buscar-evento:hover {
    transition: 0.3s;
    color: white;
    box-shadow: 5px 5px 5px black;
}

.card-busca-livre-evento {
    margin: 0;
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.card-busca-livre-evento img {
    position: relative;
    border-radius: 5px 0px 0px 5px;
    bottom: 1px;
    right: 1px;
    width: 445px;
    height: 250px;
    max-width: 445px;
    min-width: 445px;
}

.card-busca-livre-evento .calendario-img img {
    position: relative;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 25px;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    max-width: 23px;
    min-width: 23px;
}
.card-busca-livre-evento .relogio-img img {
    position: relative;
    bottom: 0;
    right: 0;
    width: 25px;
    margin: 10px;
    margin-right: 0;
    height: auto;
    max-width: 25px;
    min-width: 25px;
}

.card-busca-livre-evento .ponto-de-localizacao-img {
    position: relative;
    bottom: 0;
    right: 0;
    left: -15px;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
}

.card-busca-livre-evento .ponto-de-localizacao-img img {
    width: 23px;
    height: auto;
    max-width: 23px;
    min-width: 23px;
}

.card-busca-livre-evento .botao-inscricao {
    position: relative;
    border-radius: none;
    background-image: linear-gradient( to right, rgb(0, 60, 255), rgb(85, 2, 180)); 
    box-shadow: 1px 3px 3px rgb(32, 32, 32);
}

.card-busca-livre-evento .botao-inscricao:hover {
    background-image: linear-gradient( to right, rgb(0, 36, 155), rgb(50, 1, 105)); 
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 1px 3px 3px black;
}