@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-BlackItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-UltraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-UltraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Friends';
    src: url('/fonts/friends/TTF/Friends-NormalItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Fonte Pally - Corpo 21 */
@font-face {
    font-family: 'Pally';
    src: url('/fonts/pally/WEB/fonts/Pally-Regular.woff2') format('woff2'),
         url('/fonts/pally/WEB/fonts/Pally-Regular.woff') format('woff'),
         url('/fonts/pally/WEB/fonts/Pally-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pally';
    src: url('/fonts/pally/WEB/fonts/Pally-Medium.woff2') format('woff2'),
         url('/fonts/pally/WEB/fonts/Pally-Medium.woff') format('woff'),
         url('/fonts/pally/WEB/fonts/Pally-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pally';
    src: url('/fonts/pally/WEB/fonts/Pally-Bold.woff2') format('woff2'),
         url('/fonts/pally/WEB/fonts/Pally-Bold.woff') format('woff'),
         url('/fonts/pally/WEB/fonts/Pally-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Fonte Pally Variable  */
@font-face {
    font-family: 'Pally-Variable';
    src: url('/fonts/pally/WEB/fonts/Pally-Variable.woff2') format('woff2'),
         url('/fonts/pally/WEB/fonts/Pally-Variable.woff') format('woff'),
         url('/fonts/pally/WEB/fonts/Pally-Variable.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}
