* {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.home-section {
    width: 102vw;
    height: max-content;
    min-height: 100vh;
    background-image: url('/img/fundo-vagalumes.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: -7px 0 30px 0;
}

.box-carrousel-primary {
    height: 65vh;
    margin: 10px 0 0 0;

}

.carrousel-container-cards {
    background-color: transparent;
    width: 1300px;
    height: 100%;
    border: 1px solid transparent;
    padding: 0 110px;
}

.button-carrousel {
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
}

.carousel-item {
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    max-height: 440px;
    height: 98%;
}

.carrousel-item-box-content,
.carrousel-item-box-image {
    height: 100%;
    width: 50%;
    float: left;
}

.carrousel-item-box-titulo {
    flex: 1;
    width: 80%;
    max-width: 80%;
    text-align: center;
    padding: 0 0px;

}

.carrousel-item-box-titulo a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;

}

.carrousel-item-box-descricao {
    padding: 10px;
    max-width: 80%;
    flex: 5;

}

.box-descricao {
    text-align: justify;
    line-height: 1.3;
    color: #12583C;
    height: 100%;

}

.text-limit {
    height: max-content;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.titulo-evento {
    font-size: 25px;
    line-height: 1.2;
    color: #12583C;
    font-weight: 600;
    padding: 20px 0;

}


/*Modal padrao*/

.modal-header {
    color: white;
    background-color: #114048ff;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-body {
    padding: 20px 30px;
    text-align: justify;
}

.close,
.close:hover {
    color: white;
}

/*slider cards */
.button-slidecards{
    opacity: 0.5;
    cursor: pointer;
}
.button-slidecards:hover{
    opacity: 1;
}
.container-geral-slider-cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0 auto;
}
.container-slider-cards{
    border: 1px solid transparent;
    width: 900px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
}
.list-card-slides{
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    transition: .4s all ease-in-out;
}

.card-slide{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 7px;
    height: 100%;
    width: 250px;
    display: block;
    float: left;
    margin:0 0 0 35px;
}
.card-slide .icone-box{
    height: 40%;
}
.card-slide .card-content{
    height: 60%;
}
.icone-box{
    padding: 1px;
}

.card-content .tittle-card{
    height: 15%;
    text-align: center;
}
.card-content .tittle-card a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
}


.card-content .card-content-desc{
    height: 85%;
    text-align: justify;
    padding: 0 5px;
}

.text-limit-card-slide {
    height: max-content;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-height: 1.3;
}

/*card link*/

.card-link {
    padding: 5px;
}
.header-card-link{
    height: 65%;
    border-bottom-right-radius: 65%;
    background-color: #154d59;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.content-card-link{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-card-link{
    width: 100%;
    height: 100%;
}
.button-card-link{
    color: white;
    background-color: #154d59;
    border: 1px solid transparent;
    padding: 3px 7px;
    border-radius: 7px;
}
/*Responsividade view home*/

@media(width < 1000px){
    .container-geral-slider-cards{
        width: 700px;
    }
    .container-slider-cards{
        width: 600px;
    }
}

@media (width < 768px) {

    .home-section{
    
        padding-bottom: 7vh;
    }

    .carrousel-container-cards {
        height: max-content;
        max-height: max-content;
    }

    .carousel-item {
        background-color: white;
        padding: 5px;
        border-radius: 15px;
        max-height: 470px;
    }


    .carrousel-item-box-image,
    .carrousel-item-box-content {
        float: inline-start;
        width: 100%;
    }

    .carrousel-item-box-image {
        height: 200px;
    }

    .carrousel-item-box-content {
        height: 300px;
    }

    .text-limit {
        -webkit-line-clamp: 6;
    }

    .carrousel-item-box-titulo {
        max-width: 100%;
        width: 100%;
        flex: 1;
        height: max-content;
    }

    .carrousel-item-box-titulo a {
        -webkit-line-clamp: 1;
    }
    .carrousel-item-box-descricao {
        flex: 10;
        max-width: 100%;
        width: 100%;
    }

    .container-geral-slider-cards{
        width: 420px;
    }

    .container-slider-cards{
        width: 320px;
    }
    
}

@media (width < 576px){

    .carrousel-container-cards{
        padding: 0 50px;
    }
 
}